.s-notes{
    &--text{
        padding: 10px;
        font-size: 12px;
        text-align: left;
        width: 100%;
        min-height: 100%;
        &:empty{
            &::before{
                color: rgba(255,255,255,.75);
                content: 'Add your notes...';
            }
        }
    }
}