@mixin navbar() {
    &--navbar{
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        background-color: #999999;
        &__nav{
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }
        &__options{
            display: flex;
        }
        &__item{
            display: flex;
            flex-grow: 1;
            position: relative;
            vertical-align: middle;
            &--button{
                cursor: pointer;
                opacity: .8;
                background: none;
                border: none;
                color:#fff;
                padding: 3px 5px;
                &__title{
                    text-align: left;
                    flex-grow: 1;
                }
                &:hover,&:focus{
                    opacity: 1;
                }
            }
        }
    }
}
