@mixin noteHeader() {
    &--header{
        display: flex;
        opacity: .75;
        transition: all .3s linear;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        &__selected{
            opacity: 1;
        }
        svg{
            line-height: 1;
            vertical-align: middle;
        }
        &--button{
            &__title{
                flex-grow: 1;
                line-height: 30px;
                text-align: left;
                user-select: none;
                cursor: move;
            }
            &__title, &__add, &__menu, &__trash, &__minmax{
                line-height: 30px;
                background: none;
                border:none;
                transition: all .2s linear;
                padding: 5px;
                color: rgba(255,255,255,.75);
                background-color: rgba(0,0,0,.25);
                outline: none;
                &:hover,&:focus{
                    background-color: rgba(0,0,0,.25);
                    outline: none;
                }
                &:disabled{
                    cursor: not-allowed;
                }
            }
            &__add, &__menu, &__trash, &__minmax{
                width: 32px;
            }
        }
    }
}
